div.N1h_1Heading
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N1h_1Heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
}

.N1h_1Heading_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N2h_2Heading
{
  background-color: LightSteelBlue;
  color: Black;
  font-family: Arial, 宋体;
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 23.0pt;
  text-align: left;
  text-decoration: underline;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N2h_2Heading_outer
{
  background-color: LightSteelBlue;
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 23.0pt;
}

.N2h_2Heading_inner
{
  color: Black;
  font-family: Arial, 宋体;
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N2h_HNP
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 23.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N2h_HNP_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 23.0pt;
}

.N2h_HNP_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 16.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N3h_3Heading
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N3h_3Heading_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
}

.N3h_3Heading_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N3h_HNP
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N3h_HNP_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
}

.N3h_HNP_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N4h_4Heading
{
  background-color: LightSteelBlue;
  color: Black;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: left;
  text-decoration: underline;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N4h_4Heading_outer
{
  background-color: LightSteelBlue;
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
}

.N4h_4Heading_inner
{
  color: Black;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N4h_HNP
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N4h_HNP_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
}

.N4h_HNP_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.N5h_5Heading
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.N5h_5Heading_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
}

.N5h_5Heading_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.b1_body
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.b1_body_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.b1_body_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.b2_body2
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.b2_body2_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.b2_body2_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.b3_body3
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 32.4pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.b3_body3_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.b3_body3_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.bu1_bullets
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.bu1_bullets_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.bu1_bullets_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.bu2_bullets2
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 32.4pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: -14.399999999999998pt;
  text-transform: none;
  vertical-align: baseline;
}

.bu2_bullets2_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.bu2_bullets2_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.bu3_bullets3
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 46.8pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: -14.399999999999998pt;
  text-transform: none;
  vertical-align: baseline;
}

.bu3_bullets3_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.bu3_bullets3_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.c1_caution
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 72pt;
  margin-right: 39.6pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.c1_caution_outer
{
  margin-bottom: 0.0pt;
  margin-right: 39.6pt;
  margin-top: 0.0pt;
}

.c1_caution_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.c2_caution_indent
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 90pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.c2_caution_indent_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.c2_caution_indent_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ch_chapter_title
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 24.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 114.0pt;
  margin-left: 72pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: -72pt;
  text-transform: none;
  vertical-align: baseline;
}

.ch_chapter_title_outer
{
  margin-bottom: 114.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.ch_chapter_title_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 24.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.cs1_command_syntax
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.cs1_command_syntax_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
}

.cs1_command_syntax_inner
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.cs2_command_syntax_2
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 39.6pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -7.200000000000003pt;
  text-transform: none;
  vertical-align: baseline;
}

.cs2_command_syntax_2_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.cs2_command_syntax_2_inner
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.cs3_command_syntax_3
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 68.4pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -7.200000000000003pt;
  text-transform: none;
  vertical-align: baseline;
}

.cs3_command_syntax_3_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.cs3_command_syntax_3_inner
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.cs4_command_syntax_4
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 97.2pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: -7.200000000000003pt;
  text-transform: none;
  vertical-align: baseline;
}

.cs4_command_syntax_4_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.cs4_command_syntax_4_inner
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.d_dialog
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.d_dialog_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
}

.d_dialog_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.es1_example_screen
{
  color: #000000;
  font-family: "Courier New";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.es1_example_screen_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
}

.es1_example_screen_inner
{
  color: #000000;
  font-family: "Courier New";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.es2_example_screen_wide
{
  color: #000000;
  font-family: "Courier New";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.es2_example_screen_wide_outer
{
  margin-bottom: 2.0pt;
  margin-right: 0pt;
  margin-top: 11.0pt;
}

.es2_example_screen_wide_inner
{
  color: #000000;
  font-family: "Courier New";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.f_footer
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.f_footer_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
}

.f_footer_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.fa1_help_figure_anchor
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.fa1_help_figure_anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.fa1_help_figure_anchor_inner
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.fa_figure_anchor
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.fa_figure_anchor_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.fa_figure_anchor_inner
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.fc_figure_caption
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.fc_figure_caption_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.fc_figure_caption_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.fl_figure_callout
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.fl_figure_callout_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.fl_figure_callout_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.gt_glossary_term
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.gt_glossary_term_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
}

.gt_glossary_term_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.h_header
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.h_header_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.h_header_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.mh_margin_heading
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.mh_margin_heading_outer
{
  margin-bottom: 1.0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
}

.mh_margin_heading_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.n1_note
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 72pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.n1_note_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.n1_note_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.n2_note_indent
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 90pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.n2_note_indent_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.n2_note_indent_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.n3_note_table
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.n3_note_table_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.n3_note_table_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.pr_procedure_title
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.pr_procedure_title_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 13.0pt;
}

.pr_procedure_title_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.pt_preface_title
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 24.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 114.0pt;
  margin-left: 72pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.pt_preface_title_outer
{
  margin-bottom: 114.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.pt_preface_title_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 24.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.s1_step_first
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.s1_step_first_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.s1_step_first_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.s2_step_next
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.s2_step_next_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.s2_step_next_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.sa_screen_anchor
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.sa_screen_anchor_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.sa_screen_anchor_inner
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.sb_screen_user_entry
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.sb_screen_user_entry_outer
{
  margin-bottom: 1.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.sb_screen_user_entry_inner
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.sbi_screen_user_entry_indent
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 3.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.sbi_screen_user_entry_indent_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.sbi_screen_user_entry_indent_inner
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.sc_screen_display
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.sc_screen_display_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.sc_screen_display_inner
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.si2_screen_display_indent_2
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 32.4pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.si2_screen_display_indent_2_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.si2_screen_display_indent_2_inner
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.si_screen_display_indent
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.si_screen_display_indent_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.si_screen_display_indent_inner
{
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ss1_sub_step_first
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 32.4pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: -14.399999999999998pt;
  text-transform: none;
  vertical-align: baseline;
}

.ss1_sub_step_first_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.ss1_sub_step_first_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ss2_sub_step_next
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 5.0pt;
  margin-left: 32.4pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: left;
  text-indent: -14.399999999999998pt;
  text-transform: none;
  vertical-align: baseline;
}

.ss2_sub_step_next_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.ss2_sub_step_next_inner
{
  color: #000000;
  font-family: 'Times New Roman', 宋体, Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ta_table_anchor
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.ta_table_anchor_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.ta_table_anchor_inner
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 4.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tac_table_command
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.tac_table_command_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.tac_table_command_inner
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tah_table_arguments_head
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.tah_table_arguments_head_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
}

.tah_table_arguments_head_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tb_table_bullets
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1.0pt;
  margin-left: 9pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: left;
  text-indent: -9pt;
  text-transform: none;
  vertical-align: baseline;
}

.tb_table_bullets_outer
{
  margin-bottom: 1.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.tb_table_bullets_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tc_table_caption
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.tc_table_caption_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.tc_table_caption_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.th_table_head
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.th_table_head_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.th_table_head_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tt_table_text
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  text-align: left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.tt_table_text_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
}

.tt_table_text_inner
{
  color: #000000;
  font-family: Arial, 宋体;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ttd_table_text_default
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.ttd_table_text_default_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.ttd_table_text_default_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tth_troubleshoot_head
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.tth_troubleshoot_head_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 14.0pt;
}

.tth_troubleshoot_head_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.ttp_troubleshoot_problem
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.ttp_troubleshoot_problem_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 18.0pt;
}

.ttp_troubleshoot_problem_inner
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.tts_troubleshoot_solution
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 4.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.tts_troubleshoot_solution_outer
{
  margin-bottom: 4.0pt;
  margin-right: 0pt;
  margin-top: 4.0pt;
}

.tts_troubleshoot_solution_inner
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.w1_warning
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 72pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.w1_warning_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.w1_warning_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.w2_warning_indent
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 90pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.w2_warning_indent_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.w2_warning_indent_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.wc_writer_comments
{
  color: #ff0000;
  font-family: "Times New Roman";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 5.0pt;
  margin-left: 14.256pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
  text-align: Left;
  text-indent: -14.256pt;
  text-transform: none;
  vertical-align: baseline;
}

.wc_writer_comments_outer
{
  margin-bottom: 5.0pt;
  margin-right: 0pt;
  margin-top: 5.0pt;
}

.wc_writer_comments_inner
{
  color: #ff0000;
  font-family: "Times New Roman";
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.b_bold
{
  font-weight: bold;
}

span.bu_bullet
{
  color: #000000;
  font-family: "Times New Roman";
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.e_emphasis
{
  font-style: italic;
}

span.l_link
{
  color: #0000ff;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.pr_problem_report
{
  font-size: 9.0pt;
  font-weight: bold;
}

span.sc_screen_display
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.su_screen_user_entry
{
  color: #000000;
  font-family: "Courier New";
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.u_underline
{
  text-decoration: underline;
}

span.wc_writer_comments
{
  color: #ff0000;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.zz_bullet
{
  color: #000000;
  font-family: Wingdings;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.zz_chapter_number
{
  color: #000000;
  font-family: Arial;
  font-size: 40.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.zz_step_number
{
  color: #000000;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

table.CLI_Arguments
{
  border-collapse: collapse;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 7pt;
  padding-top: 4pt;
  text-align: left;
}

table.Invisible_Table
{
  border-collapse: collapse;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 3pt;
  padding-right: 5pt;
  padding-top: 4pt;
  text-align: left;
}

table.Wide_Table
{
  border-collapse: collapse;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 3pt;
  padding-right: 5pt;
  padding-top: 4pt;
  text-align: left;
}

table.Table_No_Caption
{
  border-collapse: collapse;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  padding-bottom: 4pt;
  padding-left: 0pt;
  padding-right: 5pt;
  padding-top: 4pt;
  text-align: left;
}

table.Basic_Table
{
  border-collapse: collapse;
  margin-bottom: 20.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 2.0pt;
  padding-bottom: 1pt;
  padding-left: 3pt;
  padding-right: 5pt;
  padding-top: 1pt;
  text-align: left;
}

